.krona, .navbar.navbar-default.navbar-fixed-top, .content-section h2.heading, .tile .tile-header {
  font-family: 'Krona One', sans-serif;
}

.arial, body {
  font-family: 'Arial', sans-serif;
}

.blue {
  color: #2ba9e3;
}

.underline {
  text-decoration: underline;
}

html, body, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-weight: 200;
}

a, a:hover {
  color: inherit;
}

a.blue:hover {
  color: #2ba9e3;
}

.navbar.navbar-default.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.7);
  border: 0;
}

@media (min-width: 768px) {
  .navbar.navbar-default.navbar-fixed-top {
    padding: 1.5rem 3rem;
  }
  .navbar.navbar-default.navbar-fixed-top .navbar-nav.navbar-right {
    padding-top: 1rem;
  }
}

.navbar.navbar-default.navbar-fixed-top .navbar-collapse {
  border-color: #555555;
}

.navbar.navbar-default.navbar-fixed-top .navbar-brand {
  height: inherit;
}

.navbar.navbar-default.navbar-fixed-top .navbar-brand:hover {
  color: #ffffff;
}

.navbar.navbar-default.navbar-fixed-top .navbar-brand img, .navbar.navbar-default.navbar-fixed-top .navbar-brand span {
  display: inline-block;
  vertical-align: middle;
}

.navbar.navbar-default.navbar-fixed-top .navbar-brand img {
  width: 5.5rem;
}

.navbar.navbar-default.navbar-fixed-top .navbar-brand .arial, .navbar.navbar-default.navbar-fixed-top .navbar-brand body {
  letter-spacing: 0.1rem;
  color: #ccc;
}

.navbar.navbar-default.navbar-fixed-top a {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.navbar.navbar-default.navbar-fixed-top a:hover {
  color: #98cd00;
}

.navbar.navbar-default.navbar-fixed-top li.active a {
  background-color: #2ba9e3;
  color: #ffffff;
}

.section-gray {
  background-color: #f5f5f5;
}

.section-blue {
  background-color: #2ba9e3;
}

.content-section {
  padding: 4rem 0;
}

.content-section h1 {
  color: transparent;
  display: none;
}

.content-section h2.heading {
  font-size: 2rem;
  background-color: #2ba9e3;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 1.5rem;
  display: inline-block;
  margin-bottom: 3rem;
}

.content-section h2.heading.heading-alt {
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 4rem;
}

.tile p {
  margin: 0;
}

@media (max-width: 767px) {
  .tile {
    margin-bottom: 2rem;
  }
}

.tile .tile-header {
  background-color: #2ba9e3;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  color: #ffffff;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.tile .tile-header h2 {
  font-size: 1.4rem;
  margin: 0;
}

.tile .tile-body {
  padding: 2rem 1rem;
  border: 1px solid #2ba9e3;
  font-size: 1.4rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  .tile .tile-body {
    min-height: 14rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .tile .tile-body {
    min-height: 14rem;
  }
}

@media (min-width: 1200px) {
  .tile .tile-body {
    min-height: 13rem;
  }
}

.tile .tile-body > img {
  height: 4rem;
  margin: 0 auto;
}

.tile .tile-body > img:first-child {
  margin-bottom: 1rem;
}

.tile .tile-body .tile-body-img, .tile .tile-body .tile-body-content {
  display: inline-block;
  vertical-align: middle;
}

.tile .tile-body .tile-body-img {
  margin-right: 1rem;
  width: 5rem;
}

.tile .tile-body .tile-body-content {
  width: calc(100% - 6.5rem);
}

.tile .tile-body .tile-body-content .krona, .tile .tile-body .tile-body-content .navbar.navbar-default.navbar-fixed-top, .tile .tile-body .tile-body-content .content-section h2.heading, .content-section .tile .tile-body .tile-body-content h2.heading, .tile .tile-body .tile-body-content .tile-header {
  color: #98cd00;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.fact {
  border: 1px solid #ffffff;
  border-radius: 2rem;
  position: relative;
  margin-bottom: 4rem;
  color: #ffffff;
}

@media (min-width: 992px) {
  .fact {
    margin: 2rem;
  }
}

.fact .fact-icon {
  position: absolute;
}

@media (min-width: 768px) {
  .fact .fact-icon {
    top: -2rem;
    left: -2rem;
    width: 8rem;
  }
}

@media (max-width: 767px) {
  .fact .fact-icon {
    top: -3rem;
    left: calc(50% - 2.5rem);
    width: 5rem;
  }
}

.fact .fact-body {
  padding: 2rem;
}

@media (max-width: 767px) {
  .fact .fact-body {
    padding-top: 3rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .fact .fact-body {
    min-height: 29rem;
  }
}

.fact .fact-body .fact-body-img, .fact .fact-body .fact-body-content {
  display: inline-block;
  vertical-align: middle;
}

.fact .fact-body .fact-body-img strong, .fact .fact-body .fact-body-content strong {
  color: #326c6d;
}

@media (min-width: 768px) {
  .fact .fact-body .fact-body-img {
    width: 40%;
    margin-right: 30px;
  }
  .fact .fact-body .fact-body-content {
    width: calc(100% - 40% - 35px);
  }
}

@media (max-width: 767px) {
  .irrigation {
    margin-bottom: 4rem;
  }
}

.irrigation h2 {
  color: #326c6d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4rem;
  margin: 2rem 0 3rem;
}

.irrigation img {
  width: 15rem;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .irrigation img {
    width: 10rem;
  }
}

.irrigation span {
  color: #2ba9e3;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .image-gallery {
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    transform: translateX(10%);
  }
}

@media (min-width: 1200px) {
  .image-gallery {
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    -ms-transform: translateX(15%);
    -o-transform: translateX(15%);
    transform: translateX(15%);
  }
}

.image-gallery:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.image-gallery img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 10px solid #efefef;
  height: 350px;
}

@media (max-width: 991px) {
  .image-gallery img {
    height: 310px;
  }
}

#mobile-gallery img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

#mobile-gallery .owl-buttons .owl-next, #mobile-gallery .owl-buttons .owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 6rem;
}

#mobile-gallery .owl-buttons .owl-next {
  right: -1rem;
}

#mobile-gallery .owl-buttons .owl-prev {
  left: -1rem;
}

#home #parallax {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
  background-size: cover;
  background-image: url(../img/bg.jpg);
}

#home #parallax img {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  width: 15rem;
}

#services a {
  font-weight: bold;
}

@media (max-width: 767px) {
  #services .custom-list {
    margin-bottom: 4rem;
  }
}

#services .custom-list ol:first-child li:before {
  content: "01 ";
}

#services .custom-list ol:nth-child(2) li:before {
  content: "02 ";
}

#services .custom-list ol:nth-child(3) li:before {
  content: "03 ";
}

#services .custom-list ol:nth-child(4) li:before {
  content: "04 ";
}

#services .custom-list ol:nth-child(5) li:before {
  content: "05 ";
}

#services .custom-list ol:nth-child(6) li:before {
  content: "06 ";
}

#services ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

#services ol li {
  padding-left: 1em;
  text-indent: -1em;
}

#services ol li:before {
  color: #2ba9e3;
  font-weight: bold;
}

#contact a:hover {
  text-decoration: none;
}

#contact h2 {
  font-size: 2.4rem;
  color: #999999;
  margin-bottom: 3rem;
}

#contact h2 i {
  color: #98cd00;
}

@media (max-width: 767px) {
  #contact h2 i, #contact h2 span {
    display: inline-block;
    vertical-align: top;
  }
  #contact h2 i {
    width: 20px;
  }
  #contact h2 span {
    width: calc(100% - 30px);
  }
}

#contact .contact-us-form label {
  color: #98cd00;
  text-transform: uppercase;
}

#contact .contact-us-form input, #contact .contact-us-form select, #contact .contact-us-form textarea {
  border-radius: 0px;
  background-color: #efefef;
  border: 1px solid #efefef;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  outline: 2px solid #efefef;
  outline-offset: -2px;
}

#contact .contact-us-form textarea {
  resize: none;
  overflow: auto;
}

#contact .contact-us-form button {
  background-color: #98cd00;
  color: #ffffff;
  border: 1px solid #98cd00;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  font-weight: 600;
}

@media (max-width: 767px) {
  #contact .contact-us-form button {
    width: 100%;
  }
}
